{% extends 'new_base.html' %}
{% load static %}



{% block title %}

{% endblock title %}



{% block body %}
    <h1>Product Profile</h1>
    <div class="row">
        <div class="col-sm-4">
            <img src="{{ auctionitem.main_photo.url }}" width="100%" height="100%">
        </div>
        <div class="col-sm-5">
            <table class="table table-sm">
              <tbody>
              <tr>
                  <td>Product name</td>
                  <td>{{ auctionitem.product_name}}</td>
                </tr>
                <tr>
                  <td>Publish Date</td>
                  <td>{{ auctionitem.item_post_date}}</td>

                </tr>
              <tr>
                  <td>Publish Date</td>
                  <td>{{ auctionitem.item_post_date}}</td>
                </tr>
              <tr>
                  <td>Current Price</td>
                  <td>{{ auctionitem.current_bid_price}}</td>
                </tr>
              <tr>
                  <td>Product Catagory</td>
                  <td>{{ auctionitem.category}}</td>
                </tr>

              </tbody>

            </table>
{#              {{ auctionitem.product_name}} <br>#}
{#                {{ auctionitem.product_description}}<br>#}
{#                {{ auctionitem.product_main_price}}<br>#}
{#                {{ auctionitem.current_bid_price}}<br>#}
{#                {{ auctionitem.item_post_date}}<br>#}
{#                {{ auctionitem.category }}<br>#}
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-3">
           <img class="product_img" src="{{ auctionitem.photo1.url }}">
        </div>
        <div class="col-sm-3">
           <img class="product_img" src="{{ auctionitem.photo2.url }}" width="100%" height="100%">
        </div>
        <div class="col-sm-3">
           <img class="product_img" src="{{ auctionitem.photo3.url }}" width="100%" height="100%">
        </div>
        <div class="col-sm-3">
           <img class="product_img" src="{{ auctionitem.photo4.url }}" width="100%" height="100%">
        </div>








    </div>

{% endblock body %}